{% extends 'modelo.html' %}

{% block botao %}

<a href="/"><button class="btn btn-outline-light btn-lg width-css" type="submit">Voltar</button></a>

{% endblock %}

{% block conteudo %}

<div class="box-form">
    <form action="/entrar" method="post" enctype="multipart/form-data">
        <h2>Login:</h2>
        <label for="nome">Nome de usuário:</label><br>
        <input type="text" name="nome" id="nome" required><br><br>
        <label for="nome">Senha:</label><br>
        <input type="password" name="senha" id="senha" required><br><br>

        <button class="btn btn-info btn-lg mb-5" type="submit">ENTRAR</button> 
        {% if msg %}
        <h2 id="msg-error">{{msg}}</h2>
        {% endif %}
    </form>
</div>

{% endblock %}